{% extends "base.html" %}

{% block carousel %} {% endblock carousel %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Категории</p>
                <div class="list-group">
                    {% for category in Customers %}
                        <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}

                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <div style="text-align: center">
                        <img class="card-img-top img-fluid" src="{{ Item.image.url }}" alt="" style="width: 50%;height: 50%">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ Item.name }}</h3>
                        <h4>{{ Item.price }} грн</h4>
                        <p class="card-text"><strong>Материал:</strong> {{ Item.material }} </p>
                        <p class="card-text"><strong>Размеры:</strong> {{ Item.size }} </p>
                        <br>
                        <p class="card-text"><strong>Описание:</strong> {{ Item.description }} </p>

                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">

                    <div class="card-body">

                        <a href="{% url 'add_to_cart' item_slug=Item.slug %}" class="btn btn-success">Добавить в корзину</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
{% endblock content %}